h3 {
color: #800080
}

p { 
color: #088A85 
}

body {
background-color:#D8D8D8
}
.destacado{
font-family:"Arial";
font-stlye: italic;
font-size: 20px;
color: #086A87}

.destacado1{
font-family:"Arial";
font-stlye: italic;
font-size: 30px;
color: ##04B4AE}